@import './normilize.css';

.smpd-login {
    color: var(--white);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.smpd-login-container {
    width: 800px;
    height: 520px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    display: flex;
    justify-content: space-between;
}

.smpd-login-container > div {
    width: 50%;
    height: 100%;
}

.smpd-login-container > .smpd-login-left {
    padding: 50px 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    gap: 5px;
}


.smpd-login-logo .smpd-login-logo-image {
    width: 90px;
    height: 90px;    
}

.smpd-login-left h1{
    font-size: 2em;
    font-weight: 400;
}


.smpd-login-left h2{
    font-size: 3em;
    font-weight: 400;
}

.smpd-login-image {
    width: 250px;
    height: 250px;
    opacity: 0.4;
    border-radius: 50%;
}


.smpd-login-container > .smpd-login-right {
    background-color: var(--white);
    color: var(--main-color);
    padding: 80px 75px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.smpd-login-right form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.smpd-login-right  h4 {
    font-size: 0.75em;
    font-weight: 400;
}

.smpd-login-right .smpd-login-input {
    background-color: var(--main-gray);
    color: var(--nav-link);
    border: 0;
    border-radius: 5px;
    height: 30px;
    width: 100%;
    padding-left: 10px;
}

.smpd-login-right .smpd-login-input:focus {
    outline: 1px solid var(--main-color);
    caret-color: var(--main-color);
    
}

.smpd-login-button {
    width: 100%;
    text-align: center;
    background-color: var(--main-color);
    border: 0;
    outline: 0;
    color: var(--white);
    font-weight: bold;
    padding: 10px 0;
    font-size: 1em;
}